body {
  margin: 0;
  padding: 0;
  background-color: #faf5f5;
}

.nav-bar {
  width: 100vw;
  background-color: #ffb67c;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  padding: 5px;
}

.search-button {
  background: transparent;
}

.serach-form {
  border-bottom: 1px solid black;
  width: fit-content;
  height: fit-content;
}

input {
  border: none;
  background-color: transparent;
  padding: 5px;
}

.main {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 40px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: black;
}

.a-and-h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: auto;
}

.main-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3.5rem;
  width: 80vw;
  margin: auto;
}

.user-info {
  display: flex;
}

.paragraph-name {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0.5rem 0;
}

.underlined-title {
  border-bottom: 1px solid black;
}

.content-style {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  font-size: 0.5rem;
  font-weight: lighter;
  margin: 0.5rem 0;
}

.main-content-user {
  display: flex;
  flex-direction: column;
}

.main-content-user * {
  margin: 0 0 1px 0;
}

.main-content * {
  padding: 1px;
}

.main-content {
  background-color: white;
}

.main-dives {
  width: 80vw;
  margin: auto;
}

.climate-change-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 3rem;
}

.urban-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  column-gap: 3.5rem;
}

.urban-grid > img {
  object-fit: cover;
  width: 100%;
}

.video-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.footer-div {
  background-color: #ffb67c;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

#get-subscribers-bttn {
  border: 0.5px solid black;
  background: transparent;
  height: 100%;
}

.get-sbrs-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.get-sbrs-form-inp {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.get-sbrs-form input {
  border-bottom: 1px solid black;
}

#get-subscribers-bttn {
  height: 100%;
}

.footer-right-part {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 2.5rem;
}

.title-cards {
  width: 60%;
  min-width: 14rem;
  max-width: min-content;
}

div.title-cards > * {
width: 100%;

}

.comment{
  color: black;
  font-size: 0.8rem;
  font-weight: lighter;
}
